body, html {
    height: 100%;
    margin: 0px;
 }
 body {
    background-color: rgb(90, 80, 80);
 }
 
 nav li {
    display: inline;
    margin: 25px;
 }
 
 nav ul {
    background-color: rgb(90, 80, 80);
    margin: 0 100px 0 10px;
    list-style-type: none;
    width: 100%;
    padding: 15px;
 }
 
 
 nav {
    display: block;
    color: white;
 }
 
 nav a {
    color: #ffffff;
    text-decoration: none;
 }
 
 nav a:hover{
    color: rgb(0, 0, 0);
 }

 #banner-image {
    border-radius: 3px;
    background-image: url("../images/ocean.jpg");
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
 }


 #main {
    width: 75%;
    float: left;
    height: 100%;
    padding-left: 15px;
    padding-top: 15px;
 }
 
 #side {
    width: 20%;
    float: right;
    height: 100%;
    padding: 20px;
 }